<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.BetterShared"
        tools:targetApi="31">

        <activity
            android:name=".gui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ch.nikleberg.bettershared"
                    android:path="/C5sTxQ2SAAcim6dMTwI+hJ6sCo4="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

        <provider
            android:name=".cp.Provider"
            android:authorities="ch.nikleberg.bettershared"
            android:exported="true"
            android:permission="com.android.providers.media.permission.MANAGE_CLOUD_MEDIA_PROVIDERS">
            <intent-filter>
                <action android:name="android.content.action.CLOUD_MEDIA_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>